.vscode/settings.json
# Ignore all contents in these folders, but keep the folders themselves
duplicati/backups/*
!duplicati/backups/.gitkeep
duplicati/config/*
!duplicati/config/.gitkeep
duplicati/restores/*
!duplicati/restores/.gitkeep
.qodo
.DS_Store
